<app-menu></app-menu>

<div class="uk-container">
    <h1>Fitnessz Terem Edzők</h1>

    <div class="uk-child-width-1-4@s" uk-grid>
        <!-- Edző 1 -->
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <!-- <img src="edzo1.jpg" alt=""> -->
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Edző 1</h3>
                    <p>Leírás...</p>
                    <div uk-rating="max:5; value:4"></div>
                </div>
            </div>
        </div>

        <!-- Edző 2 -->
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                   
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Edző 2</h3>
                    <p>Leírás...</p>
                    <div uk-rating="max:5; value:3"></div>
                </div>
            </div>
        </div>

        <!-- További edzők... -->

    </div>
</div>