
    <app-menu></app-menu>

    <div class="uk-section uk-background-cover bg-image"> 
        <div class="uk-container makeWhite">
            <h1 class="uk-heading-line uk-text-center"><span>Üdvözöljük az AngularFitnesz oldalán.</span></h1>
            <p class="uk-text-center">A legjobb fitnesz tanácsok és edzések egy helyen.</p>
        </div>
    </div>
    <div class="uk-section">
        <div class="uk-container">
            <h2 class="uk-heading-line uk-text-center"><span>Szolgáltatásaink</span></h2>
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Fitnesz edzők</h3>
                        <p>Tapasztalt edzőink segítenek elérni a fitnesz céljait.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Csoportos órák</h3>
                        <p>Különböző csoportos órák, mint például a jóga, a pilates és a spin.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Táplálkozási tanácsadás</h3>
                        <p>Szakértőink segítenek kialakítani a megfelelő étrendet a fitnesz céljaihoz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

